/* Basic styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 1em;
}

/* Layout adjustments */
section {
    max-width: 1200px;
    margin: 0 auto;
}

/* Responsive Design */
@media (max-width: 1200px) {
    section {
        padding: 0 20px;
    }
}

@media (max-width: 768px) {
    header, footer {
        text-align: left;
        padding: 1em;
    }

    section {
        padding: 0 10px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
        margin-right: 50px;
    }

    p {
        font-size: 1em;
    }

    header, footer {
        padding: 0.5em;
    }

    section {
        padding: 0 5px;
    }
}
